@import '~assets/stylus/theme.styl';

.main
    .container
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        min-height: 100vh;

        .inputContainer
            margin-top: 20px;
            width: 400px;
            text-align: left;

            .label
                margin-bottom: 5px;

            input
                width: 100%;

            textarea
                width: 100%;

        .subsets
            padding: 20px;
            background-color: #eee;

            .subset
                margin-top: 10px;

                &:first-child
                    margin-top: 0
