// colors
// colorBlue   = #039dff;
colorBlue   = #49bcf7;
colorGreen  = #33bb66;
colorRed    = #E75353;
// colorOrange = #e08229;
colorOrange = #ff7555;
colorPink   = #F8696C;
colorPurple = #405089;

// theme colors
colorMain          = colorBlue;
colorAccentPrimary = #58BCC7;
colorSecondary     = colorGreen;
colorCTA           = colorGreen;
colorCancel        = colorRed;

// shading
colorShade0 = #eee
colorShade1 = #888

colorShadeMain0 = lighten(colorMain, 85%)

// colorShadeMain0 = #a8c1e0
// colorShadeMain1 = #81a7d5

// action colors
colorCreate = colorGreen
colorPositive = colorOrange
colorDestructive = colorRed