<head>
    <meta charSet="utf-8"/>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    
    <link href="https://fonts.googleapis.com/css?family=Marck+Script" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:100,300,400,700,900" rel="stylesheet"/>
    
    <title></title>
    
    <link rel="stylesheet" href="/public/fonts/font-awesome/css/font-awesome.min.css"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link rel="stylesheet" href="/public/css/public.css"/>
    <link rel="stylesheet" href="/public/css/app.css"/>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css" integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA==" crossorigin=""/>

    <link id="favicon" rel="icon" type="image/png" href="ical-icon-complete.png" />
    
</head>

<body>
    <div id="app"></div>
    <div id="notifications"></div>
</body>